# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Secrets
backend/simulator/serviceAccountKey.json
.env

ANNES-NOTES1.md
ANNES-NOTES2.md
PLAN1.md
uiuxdesign/

# Python virtual environment
.venv/
venv/
__pycache__/
*.pyc